body {
    margin: 0;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: navy;
    line-height: 1.2;

}

.container {
    min-height: 100vh;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/chinor.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 33vh;
    padding: 40px 20px;
    
    
}
#invitation {
    padding: 0px 8px;
    margin: 8px auto;
    display: block;
    color: #fff;
    background-color: lightcoral;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: clamp(1.5rem, 3vw, 2rem);
}

#description {
    padding: 4px 0px;
    display: block;
    margin: 0px auto;
    color: #0b2e2e;
    background-color: lightseagreen;
    max-width: 333px;
    font-size: 20px;

}

.section {
    background-color: azure;
    color: lightseagreen;

}

.section h2 {
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
    color: lightsalmon;
    padding-top: 20px;
    margin: 0;

    
}
.todo {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction:row;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    font-weight: 500;
    font-size: 21px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    min-height: fit-content;
    max-height: fit-content;
}

.todo article {
    max-width: 260px;
    padding: 10px;
}

.dumaloq{
    padding: 2px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}


.vizitka {
    padding: 20px;
    height: 230px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    background-color: #d4f1f4;
    gap: 20px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 8px 20px -10px;
    max-width: 400px;
    width: 90%;
    

}
.mypic {
    max-width: 220px;
    width: 100%;
    height: 105%;
    object-fit: cover;
    object-position: center top;
}

footer {
    color: orangered;
    font-weight: bold;
}